/* Nav_bar section */
*{
  margin: 0;
}
body {
  font-family: 'Orelega One', cursive;
  background-color:  white;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;

  overflow-x: hidden;
  transition: 0.8s;
  opacity: 0.7;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;

}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*---------------------------top Nav_bar----------------------------*/
.Nav_bar {
margin-right: 10%;
  width: 100%;
margin-top: 0%;
  background-color: #ff8080;
  overflow: hidden;
height: 63px;
}

.Nav_bar a {
  float: right;
  color: black;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.Nav_bar a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 40px;
    margin-left: 10px;
    margin-top: 5px;    /* if you want it vertically middle of the navbar. */
    border-radius: 40px;
}
.name{
  float: left;
  font-style: oblique;
  font-size: 24px;
}



/*----------------------------section---------------------------*/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
  padding-left: 15px;
  margin-top: 3%;
  margin-left: 100px;
  margin-right: 2%;
  margin-bottom: 3%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
  width: 33.3%;
margin-left: 0px;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }
@media only screen and (max-width: 580px) {
	.col {  margin: 3% 0 2% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
/*----------image box------------*/
#Image_shadow {
-webkit-box-shadow: 2px 5px 16px 5px rgba(0,0,0,0.58);
box-shadow: 2px 5px 16px 5px rgba(0,0,0,0.58);
border-radius: 100px;
width: 90%;
border-radius: 10px;
background-color:  #ffb3b3;
}
.Image_size{

padding-left: 25%;
  margin-top: 1%;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 50%;
  height: 350px;
  border-radius: 120px;

}
.checked {
  color: #ff8080;
}
.Product_info{
text-align: center;
}
.product_data{
  display: inline-block;
  padding-left: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  color: black;
}
.button-1{
  font-family: serif;
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color:#ffe6e6 ;
  text-align: center;
  cursor: pointer;
  width: auto;
  font-size: 18px;
  margin-bottom: 3%;
  border-radius: 12px;
}

.button-1:hover {
  opacity: 0.7;
}
/*----------------End   SECTIONS------------------------------  */
.pagination {
  display: inline-block;
margin-top: 2%;
  float: right;
  margin-bottom: 2%;
margin-right: 40%;
margin-left: 20%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #ff8080;
  color: white;
  border: 1px solid #ff8080;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/*-----------------------footer---------------------------------*/
.footer {
display: inline-block;
margin-top: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ff8080;
  color: white;
  text-align: center;
  font-family: monospace;
}
.text-center{
  margin-top: 2%;
}
.text-center a{
  text-decoration: none;
  color: white;
}
/*
//////////////////////////////////////////////
signup_form_page
////////////////////////////////////
*/
.container_form{
height: 100%;
align-items:center;
padding-left: 20%;
padding-top: 5%;
width: 60%;
margin-bottom: 150px;
}

/* Style the input container */
.input-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
padding-left: 10%;
padding-top: 2%;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #ff8080;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 70%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #ff8080;
}

/* Set a style for the submit button */
.btn {
  background-color: #ff8080;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
border-radius: 12px;

}

.btn:hover {
  opacity: 1;
}
.Al_acount{
  display:inline-block;
  text-align: center;
padding-left: 10px;
  color: #ff8080;

}
/**********************************/
/************ Cart CSS ************/
/**********************************/
 .cart table {
  width: 100%;
}
.cart table td {
  padding: 15px;
  text-align: left;
  border-collapse: collapse;

}
.cart table th {
  padding: 15px;
  text-align: center;
  background-color: #ff8080;
  border-collapse: collapse;
  border: 1px solid black;
}
#tb1 td{
  padding: 15px;
 text-align: left;
/*border: 1px solid black*/
background-color: #ff8080;
  border-collapse: collapse;
}
/*\\/\/\/\/\/\/\/\/\/\/\//\/\profil/\/\/\/\/\/\//\/\/\/\/\/\/\*/
.alb {

  width: 200px;
  height: 200px;
  padding: 5px;
  border-radius: 100px;
}
.alb img {
  width: 100%;
  height: 100%;
  border-radius: 200px;
}
/*----------------------------------About us CSS -----------------------*/
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
