*{
  margin: 0;
}
body {
  font-family: 'Orelega One', cursive;
  background-color:  white;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;

  overflow-x: hidden;
  transition: 0.8s;
  opacity: 0.7;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;

}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*---------------------------top Nav_bar----------------------------*/
.Nav_bar {
margin-right: 10%;
  width: 100%;
margin-top: 0%;
  background-color: #ff8080;
  overflow: hidden;
height: 63px;
}

.Nav_bar a {
  float: right;
  color: black;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.Nav_bar a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 40px;
    margin-left: 10px;
    margin-top: 5px;    /* if you want it vertically middle of the navbar. */
    border-radius: 40px;
}
.name{
  float: left;
  font-style: oblique;
  font-size: 24px;
}
/*                       signup and login form code                             */
.container_form{
height: 100%;
align-items:center;
padding-left: 20%;
padding-top: 5%;
width: 60%;
margin-bottom: 150px;
}

/* Style the input container */
.input-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
padding-left: 10%;
padding-top: 2%;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #ff8080;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 70%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #ff8080;
}

/* Set a style for the submit button */
.btn {
  background-color: #ff8080;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
border-radius: 12px;

}

.btn:hover {
  opacity: 1;
}
.Al_acount{
  display:inline-block;
  text-align: center;
padding-left: 10px;
  color: #ff8080;

}
/*///////////////////footer/////////////////*/
.footer {
display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ff8080;
  color: white;
  text-align: center;
  font-family: monospace;
}
.text-center{
  margin-top: 2%;
}
.text-center a{
  text-decoration: none;
  color: white;
}
/*////////////////////// dash board ////////////////////////////////////*/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
  padding-left: 15px;
  margin-top: 3%;
  margin-left: 100px;
  margin-right: 2%;
  margin-bottom: 3%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
  width: 33.3%;
margin-left: 0px;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }
@media only screen and (max-width: 580px) {
	.col {  margin: 3% 0 2% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
/*----------image box------------*/
#Image_shadow {
-webkit-box-shadow: 2px 5px 16px 5px rgba(0,0,0,0.58);
box-shadow: 2px 5px 16px 5px rgba(0,0,0,0.58);
border-radius: 100px;
width: 90%;
border-radius: 10px;
background-color:  #ffb3b3;
padding-bottom: 10px;
}
#Image_shadow a{
  text-decoration: none;
  font-size: 24px;
  text-align: center;
}
#Image_shadow P{
  text-decoration: none;
  font-size: 24px;
  text-align: center;
}
#inbox-element{
  padding-top: 10%;
width: auto;
height: auto;
display:block;
text-align: center;
text-decoration: none;
}
.d_image{
width: 250px;
height: 250px;

}
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\Inventory page css/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.inventory_container{
  margin-top: 4%;
  margin-left: 4%;
}
.inventory_container table {
  border-collapse: collapse;
  width: 60%;
  border: 2px solid #ff8080;

}

.inventory_container table  th {
  text-align: left;
  padding: 16px;
}
.inventory_container table  td {
  text-align: left;
  padding: 10px;
}
/*\/\/\/\/\/\/\/\/\/\/\/product_css\/\/\/\/\///////////\/\/\/\/\/\*/
.product_container{
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;

}
.product_container table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ff8080;

}

.product_container table  th {
  text-align: left;
  padding: 16px;
  background-color: #ff8080;
}
.product_container table  td {
  text-align: left;
  padding: 10px;
}
a{
  text-decoration:none;

}
/*          intro csss   */

.css-3d-text {
  margin-top: 3%;
  text-align: center;
    font-size: 61px;
    color: #fc7e7e;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0px 0px 0 rgb(114,-12,0),
                 1px 1px 0 rgb(40,-86,0),
                 2px 2px 0 rgb(-35,-161,0),
                 3px 3px  0 rgb(-110,-236,0),
                 4px 4px 3px rgba(0,0,0,0.52),
                 4px 4px 1px rgba(0,0,0,0.5),
                 0px 0px 3px rgba(0,0,0,.2);
 }
